node_modules/
dist/data/cache
dist/data/state
/data
*_generated.go
test/
pkg/
*.a
*.o
*.bin
.DS_Store
package-lock.json
\#*\#
.\#*
*.log
*~
*.swp
*.swo
.tern-port
.tern-project.js
.idea
/filestash_config.json
